@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model C2_Group_Application.Models.Pages.General

<head>
    <link rel="stylesheet" href="style.css">
</head>

<div>
    <H1>@Html.PropertyFor(m => m.Heading)</H1>

    <div>
        @Html.PropertyFor(m => m.MainBody)
    </div>
</div>

<body>
    Hello World 2
</body>