@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model C2_Group_Application.Models.Pages.Home
<head>
    <link rel="stylesheet" href="C:\Users\Bens-PC\source\repos\C2_Group_Application\C2_Group_Application\css\css\style.css">

</head>

<body>
    Hello World 2
</body>

<div>
    <H1>@Html.PropertyFor(m => m.Heading)</H1>

    <div>
        @Html.PropertyFor(m => m.MainBody)
    </div>
</div>

<!--
    <div>
    <H1>@Html.PropertyFor(m => m.Heading)</H1>

    <div>
        @Html.PropertyFor(m => m.MainBody)
    </div>
</div>
-->
    