@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model C2_Group_Application.Models.Pages.Contact

<head>
    <link href="\css\css\style.css" rel="stylesheet" type="text/css">
</head>

<div>
    <H1>@Html.PropertyFor(m => m.Heading)</H1>

    <div>
        @Html.PropertyFor(m => m.MainBody)
    </div> 
</div>